<h1>Angular Graphs</h1>

<label for="graphSelector">Select Graph:</label>
<select id="graphSelector" [(ngModel)]="selectedGraph">
  <option value="1">Force Graph</option>
  <option value="2">Pack With Arrows</option>
</select>

<label for="dataSelector">Select Data:</label>
<select id="dataSelector" [(ngModel)]="selectedData">
  <option value="dummy.json">Dummy</option>
</select>

<div *ngIf="selectedGraph === '1'">
  <app-force-graph [dataFileName]="selectedData"></app-force-graph>
</div>

<div *ngIf="selectedGraph === '2'">
  <app-pack-with-arrow [dataFileName]="selectedData"></app-pack-with-arrow>
</div>
